
.btnLeft {
    background-image: url("../img/btn-left.png");
    background-repeat: no-repeat;
    height: 61px;
    overflow: hidden;
    position: absolute;
    top: 25px;
    width: 26px;
    z-index: 20;
}
.btnRight {
    background-image: url("../img/btn-right.png");
    background-repeat: no-repeat;
    height: 62px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 25px;
    width: 20px;
    z-index: 20;
}
.btnModal-left {
    height: 61px;
    left: 0 !important;
    overflow: hidden;
    position: absolute;
    width: 26px;
    z-index: 999;
}
.btnModal-right {
    height: 61px;
    overflow: hidden;
    position: absolute;
    right: 0 !important;
    width: 20px;
    z-index: 999;
}
.btnModal-left img, .btnModal-right img {
    height: auto;
    max-width: 100%;
    width: 100%;
}
.imageDisplay {
    display: block;
    height: 61px;
    overflow: hidden;
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 999;
}
.imageDisplay-wrapper {
    display: block;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    width: 923px;
}
.imageDisplay button {
    height: 36px;
    overflow: hidden;
    position: absolute;
    width: 36px;
    z-index: 999;
}
.prev-b {
    background: rgba(0, 0, 0, 0) url("../img/previous.png") no-repeat scroll 0 0;
    border: medium none;
    left: 0 !important;
}
.next-b {
    background: rgba(0, 0, 0, 0) url("../img/next.png") no-repeat scroll 0 0;
    border: medium none;
    right: 0 !important;
}
.gallery li p, .gallery li a {
    display: none;
}
.dark-wrapper {
    border-right: 2px solid #fff;
    display: block;
    float: left;
    height: auto;
    max-height: 100px;
    position: relative;
    width: auto;
}
div.dark-wrapper:last-child {
    padding: 0 !important;
}
.slide-title {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    box-sizing: border-box;
    color: #fff;
    display: none;
    height: 100px;
    left: 0;
    padding-top: 40px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.title {
    color: #5c5959;
    font-size: 16px;
    margin: 0 0 0 45px;
}
#modal-background {
    background-color: black;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.66;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.modal-content {
    background-color: white;
    display: none;
    padding-bottom: 20px;
    position: fixed;
    width: 923px;
    z-index: 1000;
}
.modal-content img {
    display: block;
    height: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.modal-close {
    background-image: url("../img/close-nice.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    z-index: 9999;
}
.link {
    background: #7a7a7a linear-gradient(to bottom, #7a7a7a, #7a7a7a) repeat scroll 0 0;
    border: 2px solid #d2d5d6;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    font-family: Arial;
    font-size: 16px;
    padding: 5px 20px;
    text-decoration: none;
    width: 100%;
}
.link:hover {
    background: #858585 linear-gradient(to bottom, #858585, #949194) repeat scroll 0 0;
    text-decoration: none;
}
#modal-background.active, .modal-content.active, .image-title.active {
    display: block;
}
.drop-shadow {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    margin: 0 auto 2em;
    position: relative;
    width: 100%;
}
.drop-shadow::before, .drop-shadow::after {
    bottom: 15px;
    content: "";
    height: 20%;
    left: 10px;
    position: absolute;
    width: 50%;
    z-index: -2;
}
.drop-shadow::after {
    left: auto;
    right: 10px;
}
.round {
    border-radius: 4px;
}
.round::before, .round::after {
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    max-width: 300px;
    transform: rotate(-3deg);
}
.round::after {
    transform: rotate(3deg);
}
.wrap-line {
    background: #fff none repeat scroll 0 0;
    margin: 40px 10px 0;
    max-width: 580px;
    padding-top: 5px;
    position: relative;
    width: 100%;
}
.heading {
    background: #e1ec91 none repeat scroll 0 0;
    height: 30px;
    left: -7px;
    position: relative;
    width: 103%;
}
.heading h2 {
    color: #478852;
    font-family: "Tahoma",sans-serif;
    font-size: 16px;
    margin-left: 5%;
    padding-top: 5px;
}
.heading::before {
    background: black none repeat scroll 0 0;
    border-bottom-left-radius: 31px 11px;
    border-bottom-right-radius: 31px 11px;
    bottom: -5px;
    content: "";
    display: block;
    height: 7px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.modal-content .buy_inp {
    float: right;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 157px;
}
.cap_photo {
    display: inline-block;
    font-size: 24px;
    margin: 20px 0 10px 45px;
}
