.slides {
    position: relative;
}


.slCap {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    box-sizing: border-box;
    color: white;
    display: none;
    font-family: helveticaThin;
    font-size: 21px;
    height: 70px;
    opacity: 0.5;
    padding: 10px 0 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.block_0 .slCap {    display: block;}

.slides .slidesNext, .slides .slidesPrevious {
    background: url("../img/navigation-previous.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 0;
    left: 10px;
    overflow: hidden;
    padding-top: 37px;
    position: absolute;
    top: 245px;
    width: 37px;
    z-index: 101;
}
.slides .slidesNext {
    background: url("../img/navigation-next.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: auto;
    right: 10px;
}

